* {
	darkbg: #2e3440ef;
	dark: #2e3440;
	white: #d8dee9;
	blue: #88c0d090;
	
	background-color: #0000;
	text-color: @white;

	margin: 0;
	padding: 0;
}

window {
	fullscreen: true;
	height: 50%;
	width: 50%;
	children: [mainbox];
}

mainbox {
	background-color: @darkbg;
	padding: 10% 30%;
	children: [entry, listview];
}

element {padding: 7px;}

listview {
	background-color: #0000;
}

entry {
	expand: false;
	padding: 7px;
}

element selected {
	background-color: @blue;
	text-color: @dark;
}